body {
    background-color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* alteramos a cor de fundo*/
/*meche no estio das letras*/